[req]
prompt             = no
distinguished_name = dn
req_extensions     = ext

[dn]
CN = ${THING_NAME}

[ext]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = codeSigning
